Repository kcc-final-project/yuji-gyeongseong, pull requests merged in 2024-10, with the labels that each got.

#6 연구자 번호 발급페이지를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/resources/css/common/global.css
  src/main/webapp/resources/css/research_number/research-number.css
Labels: 🎨 Html&css

#7 공고 목록 페이지를 구현한다.
  package-lock.json
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementController.java
  src/main/webapp/WEB-INF/views/announcement/announcement-list.jsp
  src/main/webapp/resources/css/announcement/announcement.css
Labels: 🎨 Html&css

#13 워크라운지(평가과제목록) 평가 보고서 페이지 UI 구현한다.
  src/main/webapp/WEB-INF/views/common/common-noheader.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-table.jsp
  src/main/webapp/WEB-INF/views/work-lounge/work-lounge-evaluation-table.jsp
  src/main/webapp/resources/css/EvaluationTable.css
  src/main/webapp/resources/css/work-lounge/EvaluationTable.css
  src/main/webapp/resources/css/work-lounge/evaluation-table.css
  src/main/webapp/resources/js/Range.js
  src/main/webapp/resources/js/work-lounge/EvaluationTable.js
  src/main/webapp/resources/js/work-lounge/Range.js
  src/main/webapp/resources/js/work-lounge/evaluation-range.js
  src/main/webapp/resources/js/work-lounge/evaluation-table.js
Labels: 🔨 Refactor

#14 연구자 번호 발급페이지를 구현한다
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/resources/css/research-number/research-number.css
Labels: 🔨 Refactor

#16 공고 목록 페이지의 UI를 수정한다.
  src/main/webapp/WEB-INF/views/announcement/announcement-list.jsp
  src/main/webapp/resources/css/announcement/announcement.css
Labels: 🎨 Html&css, 🔨 Refactor

#18 워크라운지(평가과제목록) 평가 보고서 페이지 UI 구현한다.
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-paper.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-paper.css
  src/main/webapp/resources/js/work-lounge/evaluation-paper.js
Labels: 🎨 Html&css

#20 연구개발계획서(과제요약) 페이지 UI를 구현한다.
  src/main/webapp/WEB-INF/views/rnd-plan/additional-file.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/basic.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/final-submit.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rnd-expenses.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rsrch-institution.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/task-summary.jsp
  src/main/webapp/resources/css/rnd-plan/basic.css
Labels: 🎨 Html&css

#22 연구개발계획서(연구기관) 페이지 UI를 구현한다.
  src/main/webapp/WEB-INF/views/rnd-plan/rsrch-institution.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/task-summary.jsp
  src/main/webapp/resources/css/common/global.css
  src/main/webapp/resources/css/rnd-plan/basic.css
Labels: 🎨 Html&css

#24 워크라운지 공통 탭을 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/webapp/WEB-INF/views/common/common-work-lounge-tap.jsp
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/WEB-INF/views/work-lounge/business-timeline.jsp
  src/main/webapp/resources/css/common/common-work-lounge-tap.css
  src/main/webapp/resources/css/research-number/research-number.css
  src/main/webapp/resources/js/research-number/research-number.js
Labels: 🎨 Html&css, 🔨 Refactor

#28 워크라운지 접수목록 페이지를 구현한다.
  src/main/webapp/WEB-INF/views/work-lounge/register-list.jsp
  src/main/webapp/resources/css/work-lounge/register-list.css
  src/main/webapp/resources/js/work-lounge/register-list.js
Labels: 🎨 Html&css

#29 후보단 등록 페이지 UI를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/webapp/WEB-INF/views/research-number/eval-committee-register.jsp
  src/main/webapp/resources/css/research-number/eval-committee-register.css
  src/main/webapp/resources/js/research-number/eval-committee-register.js
Labels: 🎨 Html&css

#31 사업공고 페이지 UI를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementController.java
  src/main/webapp/WEB-INF/views/announcement/announcement-list.jsp
  src/main/webapp/WEB-INF/views/announcement/detailed-notice.jsp
  src/main/webapp/resources/css/announcement/announcement.css
  src/main/webapp/resources/css/announcement/detailed-notice.css
Labels: 🎨 Html&css

#36 평가 과제 목록 페이지를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-task-list.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-task-list.css
  src/main/webapp/resources/js/work-lounge/evaluation-task-list.js
Labels: 🎨 Html&css

#37 워크라운지 업무타임라인 페이지 UI를 구현한다.
  src/main/webapp/WEB-INF/views/work-lounge/business-timeline.jsp
  src/main/webapp/resources/css/work-lounge/business-timeline.css
  src/main/webapp/resources/js/work-lounge/business-timeline.js
Labels: 🎨 Html&css

#40 공고분야 접수 페이지 UI를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/webapp/WEB-INF/views/announcement/apply-for-notice.jsp
  src/main/webapp/resources/css/announcement/apply-for-notice.css
Labels: 🎨 Html&css

#43 선정 평가 목록 페이지를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/webapp/WEB-INF/views/common/common-work-lounge-tap.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation.jsp
  src/main/webapp/resources/css/work-lounge/selection-evaluation.css
  src/main/webapp/resources/js/work-lounge/selection-evaluation.js
Labels: 🎨 Html&css

#46 워크라운지 평가위원회 구성 페이지를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/research-number/research-number.css
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: 🎨 Html&css, 🔨 Refactor

#49 회원가입 로그인 UI를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementController.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MemberSignIn.java
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-in.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-1.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-2.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-3.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-4.jsp
  src/main/webapp/resources/css/sign-in-sign-up/sign-in.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-1.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-2.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-3.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-4.css
Labels: 🎨 Html&css

#52 후보단 등록 페이지 UI 수정 및 DB를 연결한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/EvalCommitteeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalCommitteeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/AcadAbility.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Career.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/techField.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeServiceImpl.java
  src/main/resources/api/mapper/h2/evalCommittee.xml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/research-number/eval-committee-register.jsp
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/WEB-INF/views/work-lounge/business-timeline.jsp
  src/main/webapp/resources/css/research-number/eval-committee-register.css
  src/main/webapp/resources/css/research-number/research-number.css
  src/main/webapp/resources/css/work-lounge/business-timeline.css
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
  src/main/webapp/resources/js/research-number/eval-committee-register.js
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/work-lounge/business-timeline.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#54 연구개발계획서(과제요약) 동적 기능 추가 및 연구기관 페이지 UI 구현
  src/main/webapp/WEB-INF/views/common/common-header.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/basic.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/common-rnd-progress.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rsrch-institution.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/task-summary.jsp
  src/main/webapp/resources/css/rnd-plan/common-rnd.css
  src/main/webapp/resources/js/rnd-plan/basic.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-control.js
  src/main/webapp/resources/js/rnd-plan/task-summary.js
Labels: ✨ Feature, 🎨 Html&css

#51 공고 목록 페이지 조회 기능 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementRestController.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/dao/AnnouncementMapper.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/dto/Announcement.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/service/AnnouncementListImpl.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/service/AnnouncementListService.java
  src/main/resources/api/mapper/h2/announcementMapper.xml
  src/main/webapp/WEB-INF/views/announcement/announcement-list.jsp
  src/main/webapp/resources/css/announcement/announcement.css
  src/main/webapp/resources/js/announcement/announcement-list.js
Labels: ✨ Feature

#59 연구자 번호 발급 API를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/EvalCommitteeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalCommitteeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/AcadAbility.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Career.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/MemTechField.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/TechField.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/AcadRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/CareerRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/SubmitResearchRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeServiceImpl.java
  src/main/resources/api/mapper/h2/evalCommittee.xml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/research-number/eval-committee-register.jsp
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/resources/css/research-number/research-number.css
  src/main/webapp/resources/js/research-number/research-number.js
Labels: ✨ Feature, 📬 API

#65 연구개발계획서(기본정보) API를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/BasicRestController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanRestController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dao/RndPlanMapper.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndField.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndPlanBasic.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndPlanBasicData.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateRndFieldRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateRndPlanBasicRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/SubmitRndPlanRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/UpdateRndPlanBasicRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/exception/NotFoundRndPlanBasic.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanService.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/tech_field/controller/TechFieldRestController.java
  src/main/java/com/yujigyeongseong/api/domain/tech_field/dao/TechFieldMapper.java
  src/main/java/com/yujigyeongseong/api/domain/tech_field/dto/TechFieldForRndPlanBasic.java
  src/main/java/com/yujigyeongseong/api/domain/tech_field/service/TechFieldService.java
  src/main/java/com/yujigyeongseong/api/domain/tech_field/service/TechFieldServiceImpl.java
  src/main/java/com/yujigyeongseong/api/global/config/WebMvcConfig.java
  src/main/java/com/yujigyeongseong/api/global/dto/response/ApiResponse.java
  src/main/java/com/yujigyeongseong/api/global/dto/response/ErrorResponse.java
  src/main/java/com/yujigyeongseong/api/global/exception/ErrorCode.java
  src/main/java/com/yujigyeongseong/api/global/exception/GlobalRestControllerAdvice.java
  src/main/java/com/yujigyeongseong/api/global/exception/type/BadRequestException.java
  src/main/java/com/yujigyeongseong/api/global/exception/type/BaseException.java
  src/main/java/com/yujigyeongseong/api/global/exception/type/NotFoundException.java
  src/main/java/com/yujigyeongseong/api/global/exception/type/ServerException.java
  src/main/java/com/yujigyeongseong/api/global/interceptor/RequestInterceptor.java
  src/main/resources/api/mapper/h2/rndPlan.xml
  src/main/resources/api/mapper/h2/techField.xml
  src/main/webapp/WEB-INF/views/rnd-plan/basic.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/common-rnd-progress.jsp
  src/main/webapp/resources/js/rnd-plan/basic.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-control.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-progress.js
Labels: ✨ Feature, 📬 API

#69 연구자 등록, 후보단 신청 페이지 API 연동하기
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/EvalCommitteeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalCommitteeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalComposeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/EvalCommittee.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/EvaluationMember.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Institution.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Member.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Noti.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/RndPlanRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/SubAnnouncement.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/EvalNotiRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/MemberDetails.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/MemberEvalRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeServiceImpl.java
  src/main/resources/api/mapper/h2/evalCommittee.xml
  src/main/resources/api/mapper/h2/evalCompose.xml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/common/common-work-lounge-tap.jsp
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/WEB-INF/views/work-lounge/business-timeline.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/common/common-work-lounge-tap.css
  src/main/webapp/resources/css/research-number/eval-committee-register.css
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
  src/main/webapp/resources/js/research-number/eval-committee-register.js
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: ✨ Feature, 📬 API

#71 병합 해결
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalComposeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/SubAnnounce.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeServiceImpl.java
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
Labels: 🐞 BugFix

#72 평가위원회 구성 기능을 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/EvalCommitteeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalComposeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Institution.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Noti.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/SubAnnounce.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/EvalMemberRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/EvalNotiRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeServiceImpl.java
  src/main/resources/api/mapper/h2/evalCommittee.xml
  src/main/resources/api/mapper/h2/evalCompose.xml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/work-lounge/business-timeline.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/research-number/eval-committee-register.css
  src/main/webapp/resources/css/work-lounge/business-timeline.css
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
  src/main/webapp/resources/js/work-lounge/business-timeline.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: ✨ Feature, 📬 API

#76 연구개발계획서(과제요약) API 및 동적 기능 구현 (for 시연)
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/AppController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/BasicRestController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanRestController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dao/RndPlanMapper.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/BasicInfo.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndField.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndPeriod.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndPlan.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndPlanBasic.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/StageContent.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateBasicInfoRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateRndFieldRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateTaskSummaryRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/UpdateBasicInfoRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/response/BasicInfoResponse.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/response/RndPlanResponse.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/response/TaskSummaryResponse.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/exception/NotFoundBasicInfo.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/exception/NotFoundRndPlan.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/exception/NotFoundSubAnn.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/exception/NotFoundTaskSummary.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanService.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanServiceImpl.java
  src/main/java/com/yujigyeongseong/api/global/exception/ErrorCode.java
  src/main/resources/api/mapper/h2/rndPlan.xml
  src/main/webapp/WEB-INF/views/rnd-plan/common-rnd-progress.jsp
  src/main/webapp/resources/js/rnd-plan/basic.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-control.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-progress.js
  src/main/webapp/resources/js/rnd-plan/task-summary.js
Labels: ✨ Feature, 📬 API

#77 평가위원 자동 구성 기능을 구현한다.
  src/main/resources/api/mapper/h2/evalCommittee.xml
  src/main/webapp/WEB-INF/views/research-number/eval-committee-register.jsp
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/WEB-INF/views/work-lounge/business-timeline.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/research-number/eval-committee-register.css
  src/main/webapp/resources/css/research-number/research-number.css
  src/main/webapp/resources/css/work-lounge/business-timeline.css
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: ✨ Feature, 🎨 Html&css

#78 회원 가입 API를 구현한다.
  pom.xml
  src/main/java/com/yujigyeongseong/api/domain/member/DTO/Institution.java
  src/main/java/com/yujigyeongseong/api/domain/member/DTO/SmsCertRequest.java
  src/main/java/com/yujigyeongseong/api/domain/member/DTO/SmsDtoRequest.java
  src/main/java/com/yujigyeongseong/api/domain/member/DTO/UserSessionData.java
  src/main/java/com/yujigyeongseong/api/domain/member/DTO/request/SelectInstitutionRequest.java
  src/main/java/com/yujigyeongseong/api/domain/member/config/SmsCertificationUtil.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MailController.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MemberRestController.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/SmsController.java
  src/main/java/com/yujigyeongseong/api/domain/member/dao/CheckCertMapper.java
  src/main/java/com/yujigyeongseong/api/domain/member/dao/MemberMapper.java
  src/main/java/com/yujigyeongseong/api/domain/member/service/MailService.java
  src/main/java/com/yujigyeongseong/api/domain/member/service/MemberService.java
  src/main/java/com/yujigyeongseong/api/domain/member/service/MemberServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/member/service/SmsService.java
  src/main/java/com/yujigyeongseong/api/domain/member/service/SmsServiceImpl.java
  src/main/resources/api/mapper/h2/CheckCertMapper.xml
  src/main/resources/api/mapper/h2/Member.xml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-1.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-2.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-3.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-4.jsp
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-1.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-3.css
  src/main/webapp/resources/js/announcement/apply-for-notice.js
  src/main/webapp/resources/js/sign-in-sign-up/sign-up-1.js
  src/main/webapp/resources/js/sign-in-sign-up/sign-up-3.js
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#81 선정 평가 상세 기능을 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/EvaluationPaperMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/EvaluationTableMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/RegisterListMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SelectEvaluationMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SharingOpinionMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/EvaluationTableDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/FormDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/FormTypeDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/PaperDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/RegisterListDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SelectEvaluationDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SubTitleDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationPaperService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationPaperServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationTableListService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationTableListServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/RegisterListService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/RegisterListServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationServiceImpl.java
  src/main/resources/api/mapper/h2/evaluationPaper.xml
  src/main/resources/api/mapper/h2/evaluationTable.xml
  src/main/resources/api/mapper/h2/registerList.xml
  src/main/resources/api/mapper/h2/selectEvaluation.xml
  src/main/resources/api/mapper/h2/sharingOpinion.xml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/work-lounge/board-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-paper.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-table.jsp
  src/main/webapp/WEB-INF/views/work-lounge/register-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation-detail.jsp
  src/main/webapp/WEB-INF/views/work-lounge/sharing-opinion.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-table.css
  src/main/webapp/resources/css/work-lounge/selection-evaluation-detail.css
  src/main/webapp/resources/js/work-lounge/evaluation-table.js
Labels: ✨ Feature, 📬 API

#85 메인화면 구성, 평가위원 구성 구현하기, 연구개발 계획서 UI 구현하기
  src/main/java/com/yujigyeongseong/api/domain/common/MainController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/EvalCommitteeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalComposeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/EvalNotiRequest.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalComposeServiceImpl.java
  src/main/resources/api/mapper/evalCommittee.xml
  src/main/resources/api/mapper/evalCompose.xml
  src/main/resources/api/mapper/h2/evalCompose.xml
  src/main/resources/api/mapper/rndPlan.xml
  src/main/resources/api/mapper/techField.xml
  src/main/webapp/WEB-INF/views/rnd-plan/additional-file.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rnd-expenses.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rsrch-institution.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/rnd-plan/common-rnd.css
  src/main/webapp/resources/js/research-number/eval-committee-register.js
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/work-lounge/business-timeline.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: 🎨 Html&css, 📬 API

#87 tagify 버전 변경 및 브랜치 이동
  src/main/webapp/WEB-INF/views/announcement/announcement-list.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/additional-file.jsp
  src/main/webapp/resources/css/rnd-plan/common-rnd.css
  src/main/webapp/resources/js/rnd-plan/additional-file.js
Labels: 🐞 BugFix, 🎨 Html&css

#90 메인 페이지 UI 및 API 구현하기
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementController.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/dao/AnnouncementMapper.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/service/AnnouncementListImpl.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/service/AnnouncementListService.java
  src/main/java/com/yujigyeongseong/api/domain/common/MainController.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MailController.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MemberRestController.java
  src/main/java/com/yujigyeongseong/api/domain/member/service/MemberServiceImpl.java
  src/main/java/com/yujigyeongseong/api/global/auth/PrincipalDetail.java
  src/main/java/com/yujigyeongseong/api/global/controller/GlobalControllerAdvice.java
  src/main/java/com/yujigyeongseong/api/web/pages/HomeController.java
  src/main/resources/api/mapper/announcement.xml
  src/main/webapp/WEB-INF/views/announcement/detailed-notice.jsp
  src/main/webapp/WEB-INF/views/common/common-header.jsp
  src/main/webapp/WEB-INF/views/common/common-work-lounge-tap.jsp
  src/main/webapp/WEB-INF/views/main/index.jsp
  src/main/webapp/resources/css/common/common-work-lounge-tap.css
  src/main/webapp/resources/img/main/main.jpg
  src/main/webapp/resources/img/main/work.jpg
  src/main/webapp/resources/js/announcement/announcement-list.js
  src/main/webapp/resources/js/main/main.js
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor, 📬 API

#91 연구개발 계획서 추가 페이지 UI를 수정한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/EvalCommitteeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dao/EvalCommitteeMapper.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/Member.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeService.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dao/RndPlanMapper.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/response/BasicInfoResponse.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/response/MemberResponse.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/response/RndPlanResponse.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/exception/NotFoundInstitutionInfo.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/exception/NotFoundMemberInfo.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanService.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanServiceImpl.java
  src/main/java/com/yujigyeongseong/api/global/exception/ErrorCode.java
  src/main/resources/api/mapper/evalCommittee.xml
  src/main/resources/api/mapper/rndPlan.xml
  src/main/webapp/WEB-INF/views/rnd-plan/additional-file.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/basic.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/final-submit.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rsrch-institution.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/common/global.css
  src/main/webapp/resources/css/rnd-plan/common-rnd.css
  src/main/webapp/resources/js/rnd-plan/additional-file.js
  src/main/webapp/resources/js/rnd-plan/basic.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-progress.js
  src/main/webapp/resources/js/rnd-plan/rsrch-institution.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: ✨ Feature, 📬 API

#94 메인페이지 경로 수정하기
  src/main/java/com/yujigyeongseong/api/global/config/SecurityConfig.java
  src/main/webapp/WEB-INF/views/common/common-header.jsp
  src/main/webapp/WEB-INF/views/main/index.jsp
  src/main/webapp/resources/img/main/eval.ico
  src/main/webapp/resources/img/main/main.ico
  src/main/webapp/resources/img/main/main.jpg
  src/main/webapp/resources/img/main/number.ico
  src/main/webapp/resources/img/main/work.ico
  src/main/webapp/resources/img/main/work.jpg
  src/main/webapp/resources/js/announcement/announcement-list.js
  src/main/webapp/resources/js/main/main.js
Labels: 🔨 Refactor
