Repository kcc-final-project/yuji-gyeongseong, pull requests merged in 2024-11, with the labels that each got.

#95 선정평가 상세 페이지를 수정한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SelectEvaluationMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SharingOpinionMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/Board.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/NotiDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/Opinion.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SelectEvaluationDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SelectNotiDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SharingOpinionDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/BoardService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/BoardServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationPaperServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SharingOpinionService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SharingOpinionServiceImpl.java
  src/main/resources/api/mapper/evaluationTaskList.xml
  src/main/resources/api/mapper/registerList.xml
  src/main/resources/api/mapper/selectEvaluation.xml
  src/main/resources/api/mapper/sharingOpinion.xml
  src/main/resources/data-h2.sql
  src/main/webapp/WEB-INF/views/work-lounge/bubble-chart.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-paper.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-table.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-task-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/radar-chart.jsp
  src/main/webapp/WEB-INF/views/work-lounge/register-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation-detail.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation.jsp
  src/main/webapp/WEB-INF/views/work-lounge/sharing-opinion.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-paper.css
  src/main/webapp/resources/css/work-lounge/evaluation-table.css
  src/main/webapp/resources/css/work-lounge/evaluation-task-list.css
  src/main/webapp/resources/css/work-lounge/register-list.css
  src/main/webapp/resources/css/work-lounge/selection-evaluation-detail.css
  src/main/webapp/resources/css/work-lounge/selection-evaluation.css
  src/main/webapp/resources/css/work-lounge/sharing-opinion.css
  src/main/webapp/resources/js/work-lounge/evaluation-paper.js
  src/main/webapp/resources/js/work-lounge/evaluation-task-list.js
  src/main/webapp/resources/js/work-lounge/register-list.js
  src/main/webapp/resources/js/work-lounge/selection-evaluation-detail.js
Labels: ✨ Feature, 📬 API

#96 계획서 페이지 API 연동 및 화면 수정
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/EvaluationMember.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/MemberDetails.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/MemberEvalRequest.java
  src/main/webapp/WEB-INF/views/research-number/eval-committee-register.jsp
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rnd-expenses.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rsrch-institution.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/research-number/eval-committee-register.css
  src/main/webapp/resources/css/research-number/research-number.css
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/rnd-plan/rsrch-institution.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: ✨ Feature, 📬 API

#97 메인페이지 탭 기능 구현 및 워크라운지 개인정보 수정 페이지 UI를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MemberSignIn.java
  src/main/java/com/yujigyeongseong/api/domain/member/dto/auth/MemberLogin.java
  src/main/java/com/yujigyeongseong/api/global/auth/PrincipalDetail.java
  src/main/java/com/yujigyeongseong/api/global/config/SecurityConfig.java
  src/main/java/com/yujigyeongseong/api/web/pages/HomeController.java
  src/main/resources/api/mapper/Member.xml
  src/main/resources/static/favicon.ico
  src/main/webapp/WEB-INF/views/common/common-header.jsp
  src/main/webapp/WEB-INF/views/common/common-work-lounge-tap.jsp
  src/main/webapp/WEB-INF/views/main/index.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/edit-personal-info.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-3.jsp
  src/main/webapp/resources/css/sign-in-sign-up/edit-personal-info.css
  src/main/webapp/resources/img/main/main.ico
Labels: ✨ Feature, 🎨 Html&css

#98 bugfix : 링크 연결 / 페이지 합체
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/webapp/WEB-INF/views/common/common-work-lounge-tap.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-3.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-paper.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-task-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation-detail.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation.jsp
  src/main/webapp/WEB-INF/views/work-lounge/sharing-opinion.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-paper.css
  src/main/webapp/resources/css/work-lounge/evaluation-task-list.css
  src/main/webapp/resources/css/work-lounge/selection-evaluation-detail.css
  src/main/webapp/resources/css/work-lounge/sharing-opinion.css
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/work-lounge/evaluation-paper.js
  src/main/webapp/resources/js/work-lounge/evaluation-task-list.js
Labels: 🐞 BugFix

#102 연구개발 계획서(연구 기관, 연구 개발비) API 구현한다.
  pom.xml
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanRestController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dao/RndPlanMapper.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/RndFee.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateRndExpensesRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateRsrchInstitutionRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/ResearchJoinPeriodRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/ResearchRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/response/CreateRsrchInstitutionResponse.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanService.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanServiceImpl.java
  src/main/resources/api/mapper/rndPlan.xml
  src/main/webapp/WEB-INF/views/rnd-plan/rnd-expenses.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rsrch-institution.jsp
  src/main/webapp/resources/js/rnd-plan/common-rnd-control.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-progress.js
  src/main/webapp/resources/js/rnd-plan/rnd-expenses.js
  src/main/webapp/resources/js/rnd-plan/rsrch-institution.js
Labels: ✨ Feature, 📬 API

#104 의견 공유 페이지 API를 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/BoardMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/EvaluationTaskListMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SelectEvaluationMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SharingOpinionMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/Board.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/EvaluationPaperDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/EvaluationTaskListDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/EvaluationTaskListsDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/NotiDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/Opinion.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SelectEvaluationDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SharingOpinionDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationTaskListService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationTaskListServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SharingOpinionService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SharingOpinionServiceImpl.java
  src/main/java/com/yujigyeongseong/api/global/config/SecurityConfig.java
  src/main/resources/api/mapper/evaluationPaper.xml
  src/main/resources/api/mapper/evaluationTable.xml
  src/main/resources/api/mapper/evaluationTaskList.xml
  src/main/resources/api/mapper/registerList.xml
  src/main/resources/api/mapper/selectEvaluation.xml
  src/main/resources/api/mapper/sharingOpinion.xml
  src/main/webapp/WEB-INF/views/work-lounge/board_detail.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-paper.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-table.jsp
  src/main/webapp/WEB-INF/views/work-lounge/register-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation-detail.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation.jsp
  src/main/webapp/WEB-INF/views/work-lounge/sharing-opinion.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-paper.css
  src/main/webapp/resources/css/work-lounge/sharing-opinion.css
  src/main/webapp/resources/js/work-lounge/evaluation-paper.js
  src/main/webapp/resources/js/work-lounge/evaluation-task-list.js
  src/main/webapp/resources/js/work-lounge/register-list.js
  src/main/webapp/resources/js/work-lounge/sharing-opinion.js
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#108 선정 평가 상세 페이지 API를 수정한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SelectEvaluationMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SharingOpinionMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/SharingOpinionDTO.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/EvaluationTableListServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationServiceImpl.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SharingOpinionService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SharingOpinionServiceImpl.java
  src/main/resources/api/mapper/evaluationTable.xml
  src/main/resources/api/mapper/selectEvaluation.xml
  src/main/resources/api/mapper/sharingOpinion.xml
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-table.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-table.css
  src/main/webapp/resources/js/work-lounge/evaluation-table.js
Labels: ✨ Feature, 🎨 Html&css

#109 평가위원 구성 페이지 비율 적용 기능을 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/EvalCommitteeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/request/EvalPercentRequest.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanRestController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dto/request/CreateBasicInfoRequest.java
  src/main/webapp/WEB-INF/views/research-number/eval-committee-register.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/research-number/eval-committee-register.css
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
  src/main/webapp/resources/js/research-number/eval-committee-register.js
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/work-lounge/eval-committee-compose.js
Labels: ✨ Feature, 📬 API

#113 웹소캣을 활용한 알림 환경설정 구현하기
  pom.xml
  src/main/java/com/yujigyeongseong/api/domain/research_number/config/WebSocketConfig.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/controller/ResearchNumberRestController.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/response/NotiReponse.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeServiceImpl.java
  src/main/java/com/yujigyeongseong/api/global/config/SecurityConfig.java
  src/main/webapp/WEB-INF/views/common/common-header.jsp
  src/main/webapp/WEB-INF/views/research-number/socket-test.jsp
  src/main/webapp/resources/js/work-lounge/business-timeline.js
Labels: ⚙ Setting, 📬 API

#115 사업공고 페이지 무한 스크롤 기능을 구현한다.
  pom.xml
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementRestController.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/dao/AnnouncementMapper.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/service/AnnouncementListImpl.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/service/AnnouncementListService.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MemberRestController.java
  src/main/java/com/yujigyeongseong/api/domain/member/controller/MemberSignIn.java
  src/main/java/com/yujigyeongseong/api/global/config/SecurityConfig.java
  src/main/resources/api/mapper/announcement.xml
  src/main/webapp/WEB-INF/views/announcement/announcement-list.jsp
  src/main/webapp/WEB-INF/views/announcement/apply-for-notice.jsp
  src/main/webapp/WEB-INF/views/common/common-header.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/edit-personal-info.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-in.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-3.jsp
  src/main/webapp/resources/css/announcement/announcement.css
  src/main/webapp/resources/css/announcement/apply-for-notice.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-in.css
  src/main/webapp/resources/img/main/main.ico
  src/main/webapp/resources/js/announcement/announcement-list.js
  src/main/webapp/resources/js/announcement/apply-for-notice.js
  src/main/webapp/resources/js/main/main.js
  src/main/webapp/resources/js/sign-in-sign-up/sign-up-3.js
Labels: ✨ Feature, 📬 API

#118 웹소캣 알람 기능 구현하기
  src/main/java/com/yujigyeongseong/api/domain/research_number/dto/response/NotiReponse.java
  src/main/java/com/yujigyeongseong/api/domain/research_number/service/EvalCommitteeServiceImpl.java
  src/main/webapp/WEB-INF/views/common/common-header.jsp
  src/main/webapp/WEB-INF/views/common/common-noheader.jsp
  src/main/webapp/WEB-INF/views/research-number/socket-test.jsp
  src/main/webapp/resources/js/research-number/notification.js
  src/main/webapp/resources/js/work-lounge/business-timeline.js
Labels: ✨ Feature, 📬 API

#121 S3 파일 업로드 및 다운로드 기능을 구현한다.
  .gitignore
  pom.xml
  src/main/java/com/yujigyeongseong/api/domain/common_aws/AwsS3Config.java
  src/main/java/com/yujigyeongseong/api/domain/common_aws/AwsS3Utils.java
  src/main/java/com/yujigyeongseong/api/domain/common_aws/EnvVariableProperties.java
  src/main/java/com/yujigyeongseong/api/domain/common_aws/ProperTiesConfig.java
  src/main/webapp/WEB-INF/views/announcement/detailed-notice.jsp
  src/main/webapp/resources/js/announcement/detailed-notice.js
Labels: ✨ Feature, 📬 API

#122 평가위원 구성 화면 수정, 첨부파일 다운로드 기능 구현하기
  src/main/java/com/yujigyeongseong/api/domain/common_aws/EnvVariableProperties.java
  src/main/java/com/yujigyeongseong/api/domain/common_aws/FileController.java
  src/main/webapp/WEB-INF/views/announcement/detailed-notice.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
  src/main/webapp/resources/js/announcement/detailed-notice.js
Labels: ✨ Feature, 📬 API

#124 화면 디자인을 수정한다.
  src/main/webapp/WEB-INF/views/main/index.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/edit-personal-info.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/member-delete.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-in.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-3.jsp
  src/main/webapp/resources/css/announcement/apply-for-notice.css
  src/main/webapp/resources/css/announcement/detailed-notice.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-in.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-2.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-3.css
  src/main/webapp/resources/css/sign-in-sign-up/sign-up-4.css
Labels: 🎨 Html&css

#126 계획서 페이지 저장 문제 해결하기
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dao/RndPlanMapper.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanServiceImpl.java
  src/main/java/com/yujigyeongseong/api/global/exception/GlobalRestControllerAdvice.java
  src/main/resources/api/mapper/rndPlan.xml
  src/main/webapp/resources/js/rnd-plan/common-rnd-control.js
  src/main/webapp/resources/js/rnd-plan/common-rnd-progress.js
Labels: ✨ Feature, 🔨 Refactor

#127 전자평가표 저장 API 기능을 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/controller/WorkLoungeRestController.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dao/SelectEvaluationMapper.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/dto/UpdatePlanStatusDto.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationService.java
  src/main/java/com/yujigyeongseong/api/domain/work_lounge/service/SelectEvaluationServiceImpl.java
  src/main/resources/api/mapper/selectEvaluation.xml
  src/main/webapp/WEB-INF/views/work-lounge/bubble-chart.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-paper.jsp
  src/main/webapp/WEB-INF/views/work-lounge/evaluation-task-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/register-list.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation-detail.jsp
  src/main/webapp/WEB-INF/views/work-lounge/selection-evaluation.jsp
  src/main/webapp/WEB-INF/views/work-lounge/sharing-opinion.jsp
  src/main/webapp/resources/css/work-lounge/evaluation-task-list.css
  src/main/webapp/resources/css/work-lounge/selection-evaluation-detail.css
  src/main/webapp/resources/css/work-lounge/selection-evaluation.css
  src/main/webapp/resources/css/work-lounge/sharing-opinion.css
  src/main/webapp/resources/js/work-lounge/evaluation-task-list.js
  src/main/webapp/resources/js/work-lounge/register-list.js
  src/main/webapp/resources/js/work-lounge/selection-evaluation.js
  src/main/webapp/resources/js/work-lounge/sharing-opinion.js
Labels: ✨ Feature, 🎨 Html&css, 📬 API

#128 s3파일 업로드 다운로드 기능을 구현한다.
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementController.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementRestController.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/dao/AnnouncementMapper.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/dto/AnnocementFile.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/service/AnnouncementListService.java
  src/main/java/com/yujigyeongseong/api/domain/common_aws/AwsS3Utils.java
  src/main/java/com/yujigyeongseong/api/domain/common_aws/FileController.java
  src/main/java/com/yujigyeongseong/api/domain/member/service/MailService.java
  src/main/resources/api/mapper/announcement.xml
  src/main/webapp/WEB-INF/views/announcement/apply-for-notice.jsp
  src/main/webapp/WEB-INF/views/announcement/detailed-notice.jsp
  src/main/webapp/WEB-INF/views/sign-in-sign-up/sign-up-3.jsp
  src/main/webapp/resources/js/announcement/apply-for-notice.js
  src/main/webapp/resources/js/announcement/detailed-notice.js
  src/main/webapp/resources/js/rnd-plan/additional-file.js
Labels: ✨ Feature, 📬 API

#129 전체 화면 테스트
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/controller/RndPlanRestController.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/dao/RndPlanMapper.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanService.java
  src/main/java/com/yujigyeongseong/api/domain/rnd_plan/service/RndPlanServiceImpl.java
  src/main/resources/api/mapper/rndPlan.xml
  src/main/webapp/WEB-INF/views/research-number/eval-committee-register.jsp
  src/main/webapp/WEB-INF/views/research-number/research-number-page.jsp
  src/main/webapp/WEB-INF/views/rnd-plan/rnd-expenses.jsp
  src/main/webapp/WEB-INF/views/work-lounge/eval-committee-compose.jsp
  src/main/webapp/resources/css/research-number/research-number.css
  src/main/webapp/resources/css/work-lounge/eval-committee-compose.css
Labels: 🎨 Html&css, 🔨 Refactor

#139 공고 페이지 필터링기능을 수정한다.
  src/main/java/com/yujigyeongseong/api/domain/announcement/controller/AnnouncementRestController.java
  src/main/java/com/yujigyeongseong/api/domain/announcement/dao/AnnouncementMapper.java
  src/main/resources/api/mapper/announcement.xml
  src/main/webapp/resources/js/main/main.js
Labels: 🐞 BugFix, 🔨 Refactor

#141 최종 페이지 디자인 변경, alert 변경
  src/main/java/com/yujigyeongseong/api/domain/research_number/config/WebSocketConfig.java
  src/main/webapp/WEB-INF/views/rnd-plan/final-submit.jsp
  src/main/webapp/resources/js/announcement/detailed-notice.js
  src/main/webapp/resources/js/research-number/research-number.js
  src/main/webapp/resources/js/rnd-plan/final-submit.js
  src/main/webapp/resources/js/sign-in-sign-up/edit-personal-info.js
  src/main/webapp/resources/js/sign-in-sign-up/sign-up-3.js
Labels: 🎨 Html&css, 🔨 Refactor
